* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: calc(100% - 78px);
}

.tip,
blockquote {
  background-color: rgb(182, 226, 255);
  padding: 3rem 1rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 1rem !important;
}

.tip::before,
blockquote::before {
  content: "Consejo:";
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: x-large;
  font-weight: bold;
  color: gray;
}

.tip::after,
blockquote::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("./assets/bulb.svg");
  filter: contrast(20%);
  background-size: cover;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.subtitulo,
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post > ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.post > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
